*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}
body{
    background-color: #101820FF;
}
.flex-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.-vertical{
    flex-direction: column;

}
.form-section{
  background-color: #dcb90b;
  height: 350px;
  width:400px;
  position:absolute;
  top:50%;
  transform: translateY(-50%);

}
.box{
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 40px;
  padding-left: 10px;
  border: none;
}
.box-submit{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
}
input{
    outline: none;
    border: none;
}
input:hover:focus{
    outline: none;

}
.error{
    color:red;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: darkblue;
    background-color: white;
}
.show{
    transform: translate(141px, -38px);
}
.success{
    padding-top: 5px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    font-size: 18px;
    color: green;
    font-weight: bolder;
}
